$width_card_form: 289px;
$height_card_form: 400px;
$padding_card_form: 25px;

@mixin card-form($height_card_form: min-content, $width_card_form: 289px) {  

    .card_form {
        color: white;
        width: $width_card_form;
        height: $height_card_form;
        background: $color1;
        display: block;
        margin: auto;
        padding: $padding_card_form;
        border: none;
        position: relative;
        transition: .5s all;
        border-radius: 5px;
        opacity: 1;
        
        &::before,
        &::after {
            content: " ";
            position: absolute;
            bottom: 11px;
            height: 11px;
            width: 90%;

            z-index: -10 !important;
            box-shadow: 0 11px 10px rgba(0, 0, 0, 0.6);
        }

        &::after {
            right: 0px;
            transform: rotate(3deg);
        }
 
        &::before {
            left: 0px;
            transform: rotate(-3deg);
        }

        legend {
            margin-bottom: 23px;
            text-align: center;
            width: 100%;
        }
        .d-grid {
          @media (min-width: 400px) {
              
              display: grid;
              grid-template-columns: repeat(2, 1fr); 
              gap: 20px;
          }
      } 

      input[type=file] { 
          margin-bottom: 25px;
          color: $color3;
          display: block;
          width: 100%;
      }
      input[type=date]{
      
          color: transparent;

          &.focus_valid {
              color: white !important;
          }
      
      }
      ::-webkit-file-upload-button { 
           
          transition: all .4s ease;
          margin-top: 10px;
          margin-bottom: 5px;
          height: 30px;
          width: 100%;
          display: block;
          background-color: $color2;
          border: none;
          color: white;

          &:hover {
              cursor: pointer;
              background: $color4;
              color: $color1;
          }
      }
        .cont_input_label,
        span {
            position: relative;
            display: block;
            width: 100%;
            margin-bottom: 30px;

            &:hover {
                cursor: text;
            } 

            
   
            label {
                transform: translateX(10px);
                position: absolute;
                padding: 0;
                display: block;
                padding-top: 5px;
                bottom: 7px;
                left: 0;
                transition: all .3s ease;
                background: transparent;
                z-index: 1;
                margin-bottom: 0 !important;

                &:hover {
                    cursor: text;
                }

                &.focus_valid {
                    transform: translateY(-24px);
                    color: $color4;
                }
            }
            
          } 
          .d-grid {
            @media (min-width: 400px) {
                
                display: grid;
                grid-template-columns: repeat(2, 1fr); 
                gap: 20px;
            }
        }
        // select {
        //     background-color: $color1;
        //     width: 100%;
        // }
        input:not(input[type=submit], input[type=radio], input[type=file]), select {
            border: 0;
            display: block;
            border-bottom: 2px solid $color3;
            background: rgb(11, 38, 73);
            border-radius: 3px;
            transition: .3s all ease;
            padding: 10px !important;
            padding-bottom: 5px !important;
            font-size: 15px;
            width: 100%;

            &:focus {
                border-bottom: 2px solid $color4;
            }
        }

        textarea {
            border: 0;
            display: block;
            border-bottom: 2px solid $color3;
            background: rgb(11, 38, 73); 
            border-radius: 3px;
            transition: .3s all ease;
            padding: 10px;
            padding-bottom: 5px;
            font-size: 17px;
            width: 100%;
            outline: none;
        }
    }
} 
// .card_form {
//     color: white;
//     width: $width_card_form;
//     height: $height_card_form;
//     background: $color1;
//     display: block;
//     margin: auto;
//     padding: $padding_card_form;
//     border: none;
//     position: relative;
//     transition: .5s all;
//     border-radius: 5px;
//     opacity: 1;
    
//     &::before,
//     &::after {
//         content: " ";
//         position: absolute;
//         bottom: 11px;
//         height: 11px;
//         width: 90%;

//         z-index: -10 !important;
//         box-shadow: 0 11px 10px rgba(0, 0, 0, 0.6);
//     }

//     &::after {
//         right: 0px;
//         transform: rotate(3deg);
//     }

//     &::before {
//         left: 0px;
//         transform: rotate(-3deg);
//     }

//     legend {
//         margin-bottom: 23px;
//         text-align: center;
//         width: 100%;
//     }

//     .cont_input_label,
//     span {
//         position: relative;
//         display: block;
//         width: 100%;
//         margin-bottom: 30px;

//         &:hover {
//             cursor: text;
//         } 

        

//         label {
//             position: absolute;
//             padding: 0;
//             display: block;
//             padding-top: 5px;
//             bottom: 7px;
//             left: 0;
//             transition: all .3s ease;
//             background: transparent;
//             z-index: 1;

//             &:hover {
//                 cursor: text;
//             }

//             &.focus_valid {
//                 transform: translateY(-24px);
//                 color: $color4;
//             }
//         }

//     }
//     // select {
//     //     background-color: $color1;
//     //     width: 100%;
//     // }
//     input:not(input[type=submit], input[type=radio], input[type=file]), select {
//         border: 0;
//         display: block;
//         border-bottom: 2px solid $color3;
//         background: rgb(11, 38, 73);
//         border-radius: 3px;
//         transition: .3s all ease;
//         padding: 10px;
//         padding-bottom: 5px;
//         font-size: 18px;
//         width: 100%;

//         &:focus {
//             border-bottom: 2px solid $color4;
//         }
//     }

//     textarea {
//         border: 0;
//         display: block;
//         border-bottom: 2px solid $color3;
//         background: rgb(11, 38, 73); 
//         border-radius: 3px;
//         transition: .3s all ease;
//         padding: 10px;
//         padding-bottom: 5px;
//         font-size: 18px;
//         width: 100%;
//         outline: none;
//     }
// }
.btn_submit {
    background: transparent;
    padding: 12px;
    display: block;
    transition: all .4s ease;
    margin-top: 70px;
    width: 100%;
    background-image: linear-gradient(to right, $color3, $color4 50%);
    color: $color1;
    background-size: 200% 100%;
    background-position: -100%;
    font-weight: bold;
    z-index: 10;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        color: white;
        background-position: 0;
    }

    &:hover .parent_btn_submit::after {
        left: 0;
    }




}

.parent_btn_submit.clicked {

    &:before {
        content: "Procesando...";
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: $color1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color4;
        font-weight: bold;

    }
    
    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        background-color: $color4;
        height: 5px;
        width: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 20px $color4;
        animation: rodearBtn 2s ease-out infinite;
    }

    @keyframes rodearBtn {
        0% {
           left: 0;
        }
        25% {
            left: calc(100% - 20px);
            bottom: 0;
        }
        
    }
}




// feedbak messages
$top_pixels: 20px;

@keyframes toDown {
    0% { transform: translateY(calc(-100% - $top_pixels)) translateX(-50%); opacity: 0; }
    10.5% {transform: translateX(-50%) translateY($top_pixels); opacity: 1}
    90.5% {transform: translateX(-50%) translateY($top_pixels); opacity: 1}
    100% { transform: translateY(calc(-100% - $top_pixels)) translateX(-50%); opacity: 0;  }
    
}


// undo and redo btns
.history_arrows {
    &:hover {
        cursor: pointer;
        color: $color3;
    } 
    &.disabled {
        opacity: .3;
        &:hover {
            color: inherit; 
            cursor: default; 
        }
    }
} 

.nav_fixed {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;  
        align-items: self-end;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 100;
        gap: 13px;
        // background: grey;
        height: 100px;

        & > * {
            box-shadow: 0px 0px 9px grey;
        }
    }

    // modals *******************************************************
    .modal-open {
        overflow: hidden;
      }
      
      .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
      }
      
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
      }
      
      .modal-dialog {
        position: relative;
        width: auto;
        margin: 0.5rem;
        pointer-events: none;
      }
      
      .modal.fade .modal-dialog {
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
      }
      
      @media (prefers-reduced-motion: reduce) {
        .modal.fade .modal-dialog {
          transition: none;
        }
      }
      
      .modal.show .modal-dialog {
        -webkit-transform: none;
        transform: none;
      }
      
      .modal-dialog-scrollable {
        display: -ms-flexbox;
        display: flex;
        max-height: calc(100% - 1rem);
      }
      
      .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 1rem);
        overflow: hidden;
      }
      
      .modal-dialog-scrollable .modal-header,
      .modal-dialog-scrollable .modal-footer {
        -ms-flex-negative: 0;
        flex-shrink: 0;
      }
      
      .modal-dialog-scrollable .modal-body {
        overflow-y: auto;
      }
      
      .modal-dialog-centered {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        min-height: calc(100% - 1rem);
      }
      
      .modal-dialog-centered::before {
        display: block;
        height: calc(100vh - 1rem);
        content: "";
      }
      
      .modal-dialog-centered.modal-dialog-scrollable {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
      }
      
      .modal-dialog-centered.modal-dialog-scrollable .modal-content {
        max-height: none;
      }
      
      .modal-dialog-centered.modal-dialog-scrollable::before {
        content: none;
      }
      
      .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
        outline: 0;
      }
      
      .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #000;
      }
      
      .modal-backdrop.fade {
        opacity: 0;
      }
      
      .modal-backdrop.show {
        opacity: 0.5;
      }
      
      .modal-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
      }
      
      .modal-header .close, .modal-header .mailbox-attachment-close {
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
      }
      
      .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
      }
      
      .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem;
      }
      
      .modal-footer { 
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: space-between;
        padding: 1rem;
        border-top: 1px solid #e9ecef;
        border-bottom-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }
      
      .modal-footer > :not(:first-child) {
        margin-left: .25rem;
      }
      
      .modal-footer > :not(:last-child) {
        margin-right: .25rem;
      }
      
      .modal-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll;
      }
      
      @media (min-width: 576px) {
        .modal-dialog {
          max-width: 500px;
          margin: 1.75rem auto;
        }
        .modal-dialog-scrollable {
          max-height: calc(100% - 3.5rem);
        }
        .modal-dialog-scrollable .modal-content {
          max-height: calc(100vh - 3.5rem);
        }
        .modal-dialog-centered {
          min-height: calc(100% - 3.5rem);
        }
        .modal-dialog-centered::before {
          height: calc(100vh - 3.5rem);
        }
        .modal-content {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
        }
        .modal-sm {
          max-width: 300px;
        }
      }
      
      @media (min-width: 992px) {
        .modal-lg,
        .modal-xl {
          max-width: 800px;
        }
      }
      
      @media (min-width: 1200px) {
        .modal-xl {
          max-width: 1140px;
        }
      }