@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Light.ttf"); }
/* colores */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\0000378}}
.full-screen {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.582);
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1039 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\0000374}}
  .full-screen.full_screen_down {
    transform: translateY(100vh); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\0000381}}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\0000388}}
.container {
  width: clamp(300px, 85%, 1100px);
  margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\0000392}}
* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  padding: 0;
  color: white;
  font-family: "Comfortaa", sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003100}}
body {
  background: #081f3d; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003104}}
ul {
  list-style-type: none;
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003109}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003113}}
img {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003117}}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Encode Sans SemiExpanded", serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003124}}
  h1 *,
  h2 *,
  h3 *,
  h4 *,
  h5 *,
  h6 * {
    font-family: "Encode Sans SemiExpanded", serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003128}}
input {
  outline: none;
  border: NONE; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003132}}
button {
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003134}}
  button:hover {
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003138}}
fieldset {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003143}}
.bottomToUp {
  opacity: 0;
  position: relative;
  animation: bottomToUp 1s ease;
  animation-fill-mode: forwards;
  transform: translateY(70px); }
@keyframes bottomToUp {
  to {
    opacity: 1;
    transform: translateY(0px); } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003159}}
.TopToDown {
  opacity: 0;
  position: relative;
  animation: TopToDown 1s ease;
  animation-fill-mode: forwards;
  transform: translateY(-70px); }
@keyframes TopToDown {
  to {
    opacity: 1;
    transform: inherit; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003175}}
.leftToRight {
  opacity: 0;
  transform: translateX(-100px);
  animation: leftToRight 1s ease;
  animation-fill-mode: forwards; }
@keyframes leftToRight {
  to {
    transform: inherit;
    opacity: 1; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003189}}
.opacity_1 {
  opacity: 0;
  animation: opacity_1 1s ease;
  animation-fill-mode: forwards; }
@keyframes opacity_1 {
  to {
    opacity: 1; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003201}}
.width_0 {
  width: 0%;
  animation: width_0 2s ease;
  animation-fill-mode: forwards; }
@keyframes width_0 {
  to {
    width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003215}}
.screenShow {
  position: fixed;
  width: 100%;
  background: #278ea5;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1039 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 100; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\0000374}}
  .screenShow.full_screen_down {
    transform: translateY(100vh); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003220}}
  .screenShow.hidden_screen_loader {
    transition: 0.6s ease;
    transition-delay: 0.1s;
    transform: translateX(-100%); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003225}}
  .screenShow.toUp {
    animation: toUp 0.5s ease forwards; }
@keyframes toUp {
  0% {
    transform: translateY(200vh); }
  100% {
    transform: translateY(0px); } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003236}}
  .screenShow .shadowsLoader {
    width: max(300px, 50%);
    height: 360px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
    border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003243}}
    .screenShow .shadowsLoader span {
      color: #117f97;
      animation: moveShadows 1.6s linear infinite; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003247}}
      .screenShow .shadowsLoader span:nth-of-type(1) {
        animation-delay: 0s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003247}}
      .screenShow .shadowsLoader span:nth-of-type(2) {
        animation-delay: 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003247}}
      .screenShow .shadowsLoader span:nth-of-type(3) {
        animation-delay: 0.4s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003247}}
      .screenShow .shadowsLoader span:nth-of-type(4) {
        animation-delay: 0.6s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003247}}
      .screenShow .shadowsLoader span:nth-of-type(5) {
        animation-delay: 0.8s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003247}}
      .screenShow .shadowsLoader span:nth-of-type(6) {
        animation-delay: 1s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003247}}
      .screenShow .shadowsLoader span:nth-of-type(7) {
        animation-delay: 1.2s; }
@keyframes moveShadows {
  0% {
    box-shadow: 0 0 0 #081f3d;
    opacity: 0;
    transform: translateX(-50px) scale(1); }
  50% {
    box-shadow: 0 10px 50px #081f3d;
    transform: translateX(0px) scale(1.2);
    opacity: 1; }
  100% {
    box-shadow: 0 0 0 #081f3d;
    opacity: 0;
    transform: translateX(50px) scale(1); } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003273}}
.d-none {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\00003276}}
.gradient_blue {
  background: #081f3d;
  background: linear-gradient(72deg, #081f3d 41%, #278ea5 100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003122}}
.btn_submit {
  outline: none !important;
  background: transparent;
  padding: 12px;
  display: block;
  transition: all .4s ease;
  margin-top: 70px;
  width: 100%;
  background-image: linear-gradient(to right, #278ea5, #21e6c1 50%);
  color: #081f3d;
  background-size: 200% 100%;
  background-position: -100%;
  font-weight: bold;
  z-index: 10; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003137}}
  .btn_submit:hover {
    cursor: pointer;
    color: white;
    background-position: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003143}}
  .btn_submit:hover .parent_btn_submit::after {
    left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003154}}
.parent_btn_submit.clicked:before {
  content: "Procesando...";
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #081f3d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #21e6c1;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003170}}
.parent_btn_submit.clicked::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #21e6c1;
  height: 5px;
  width: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #21e6c1;
  animation: rodearBtn 2s ease-out infinite; }
@keyframes rodearBtn {
  0% {
    left: 0; }
  25% {
    left: calc(100% - 20px);
    bottom: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003200}}
.feedback_message {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 300px;
  height: 60px;
  transform: translateY(calc(-100% - $top_pixels)) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s ease-out;
  z-index: 1000; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003212}}
  .feedback_message.active {
    animation: toDown 3s ease; }

@keyframes toDown {
  0% {
    transform: translateY(calc(-100% - $top_pixels)) translateX(-50%);
    opacity: 0; }
  10.5% {
    transform: translateX(-50%) translateY(20px);
    opacity: 1; }
  90.5% {
    transform: translateX(-50%) translateY(20px);
    opacity: 1; }
  100% {
    transform: translateY(calc(-100% - $top_pixels)) translateX(-50%);
    opacity: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003224}}
.success_feedback {
  background: green;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003228}}
.fail_feedback {
  background: #081f3d;
  color: red !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003235}}
.history_arrows:hover {
  cursor: pointer;
  color: #278ea5; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003239}}
.history_arrows.disabled {
  opacity: .3; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003241}}
  .history_arrows.disabled:hover {
    color: inherit;
    cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003248}}
.nav_fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: self-end;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 100;
  gap: 13px;
  height: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003261}}
  .nav_fixed > * {
    box-shadow: 0px 0px 9px grey; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\000032}}
.fade_effect .slider_wrap {
  position: relative !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\000034}}
  .fade_effect .slider_wrap .each_slider_element {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    opacity: 0;
    transition: .6s all ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000311}}
    .fade_effect .slider_wrap .each_slider_element.active_default {
      opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000319}}
.zoom_effect .each_slider_element.zoom_effect_act {
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000321}}
  .zoom_effect .each_slider_element.zoom_effect_act img {
    transition: 11s  all linear;
    animation: zoomAnimation 10s ease; }
@keyframes zoomAnimation {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000335}}
.slider {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000338}}
  .slider .slider_wrap {
    display: grid;
    transition: all .3s;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    gap: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000347}}
    .slider .slider_wrap::-webkit-scrollbar {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000351}}
    .slider .slider_wrap {
      -ms-overflow-style: none;
      scrollbar-width: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000356}}
    .slider .slider_wrap .each_slider_element {
      position: relative;
      left: 0;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000361}}
      .slider .slider_wrap .each_slider_element img {
        transform: scale(1); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000367}}
  .slider .arrow_buttons {
    display: flex;
    justify-content: space-between;
    z-index: 9; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000375}}
    .slider .arrow_buttons button {
      background: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000378}}
      .slider .arrow_buttons button.disabled {
        visibility: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000381}}
        .slider .arrow_buttons button.disabled:hover {
          cursor: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000388}}
  .slider .nav_slider {
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000391}}
    .slider .nav_slider li {
      height: 10px;
      width: 10px;
      background: rgba(41, 243, 0, 0.952);
      border-radius: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\0000398}}
      .slider .nav_slider li:hover {
        cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\00003102}}
      .slider .nav_slider li.active {
        background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\00003108}}
  .slider .progress_bar {
    width: 100%;
    height: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/mySlider\.scss}line{font-family:\00003112}}
    .slider .progress_bar div {
      transition: width .8s ease;
      height: 100%;
      background: green; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\000032}}
.main_nav {
  max-height: 90x;
  background-color: #081f3d;
  width: 100%;
  padding-block: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\000038}}
  .main_nav svg {
    z-index: 1030 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000311}}
  .main_nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000317}}
  .main_nav .logo > * {
    max-width: 250px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000321}}
  .main_nav .nav_content {
    position: fixed;
    width: 100%;
    background: #278ea5;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1039 !important;
    top: -100%;
    transition: .3s all ease;
    color: white;
    padding-top: clamp(70px, 10vw, 90px);
    padding-left: clamp(60px, 15vw, 170px);
    z-index: 111 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/base\.scss}line{font-family:\0000374}}
    .main_nav .nav_content.full_screen_down {
      transform: translateY(100vh); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000330}}
    .main_nav .nav_content span {
      font-size: calc($bigFont - 16px);
      opacity: 0.7; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000334}}
    .main_nav .nav_content li {
      opacity: 0;
      position: relative;
      transform: translateX(-420px); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000339}}
    .main_nav .nav_content a {
      font-size: clamp(28px, 6vw, 60px);
      position: relative;
      background-image: linear-gradient(to right, #081f3d, #081f3d 50%, white 50%);
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 15px 0 0 0;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all .3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000352}}
      .main_nav .nav_content a:before {
        content: '';
        background: #21e6c1;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000364}}
      .main_nav .nav_content a:hover {
        background-position: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000368}}
      .main_nav .nav_content a:hover::before {
        width: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000374}}
  .main_nav .nav-section {
    display: flex;
    height: 100%;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000381}}
    .main_nav .nav-section .trigger_nav {
      padding: 0px;
      height: 30px;
      background: none;
      border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000387}}
      .main_nav .nav-section .trigger_nav, .main_nav .nav-section .trigger_nav * {
        transition: all .7s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000388}}
      .main_nav .nav-section .trigger_nav.active {
        z-index: 1030 !important;
        transform: translateY(20px); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000391}}
        .main_nav .nav-section .trigger_nav.active .path-1 {
          transform: rotate(38deg) !important;
          transform-origin: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000395}}
        .main_nav .nav-section .trigger_nav.active .path-2 {
          opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\0000398}}
        .main_nav .nav-section .trigger_nav.active .path-3 {
          transform: rotate(324deg) !important;
          transform-origin: 3px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003104}}
      .main_nav .nav-section .trigger_nav path {
        stroke: #21e6c1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003108}}
      .main_nav .nav-section .trigger_nav:hover {
        cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003110}}
        .main_nav .nav-section .trigger_nav:hover path {
          stroke: #21e6c1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003116}}
    .main_nav .nav-section .entrar-btn {
      width: 60px;
      padding-block: 1px;
      background: transparent;
      border: 1px solid #278ea5;
      position: relative;
      overflow: hidden;
      transition: all .4s ease;
      opacity: .9; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003125}}
      .main_nav .nav-section .entrar-btn:before, .main_nav .nav-section .entrar-btn:after {
        content: '';
        position: absolute;
        background-color: #21e6c1;
        width: 100%;
        height: 100%;
        left: 0;
        transition: .6s all ease-out;
        z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003135}}
      .main_nav .nav-section .entrar-btn:before {
        top: -100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003138}}
      .main_nav .nav-section .entrar-btn:after {
        bottom: -100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003141}}
      .main_nav .nav-section .entrar-btn:hover {
        color: #081f3d;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003144}}
        .main_nav .nav-section .entrar-btn:hover:after {
          transform: translateY(-100%); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/layouts\/_nav\.scss}line{font-family:\00003147}}
        .main_nav .nav-section .entrar-btn:hover:hover:before {
          transform: translateY(100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\000035}}
body, html {
  scroll-behavior: smooth; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\000039}}
.cont_h1_and_form {
  overflow: hidden;
  height: calc(90% - 30px); }
  @media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\000039}}
    .cont_h1_and_form {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: repeat(1, calc(100vh - $nav_height)); } }
  @media (min-width: 1060px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\000039}}
    .cont_h1_and_form {
      grid-template-columns: 50% 50%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000322}}
  .cont_h1_and_form .h1_cont {
    background-color: #21e6c1;
    display: flex;
    justify-content: center;
    font-style: clamp(28px, 6vw, 60px);
    align-items: center;
    min-height: 250px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000329}}
    .cont_h1_and_form .h1_cont h1 {
      text-align: center;
      width: 90%;
      color: #081f3d; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000337}}
  .cont_h1_and_form form.inscribe {
    padding-block: 20px;
    background-color: #278ea5;
    display: flex;
    align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000343}}
    .cont_h1_and_form form.inscribe .nav_slider {
      position: absolute;
      top: 20px;
      left: 90px;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000350}}
    .cont_h1_and_form form.inscribe .progress_bar {
      position: absolute;
      top: 0;
      height: 20px;
      left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000356}}
      .cont_h1_and_form form.inscribe .progress_bar div {
        background: linear-gradient(to right, #1f4287, #21e6c1);
        border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\000037}}
    .cont_h1_and_form form.inscribe .card_form {
      color: white;
      width: calc(min(85%, 450px));
      height: "";
      background: #081f3d;
      display: block;
      margin: auto;
      padding: 25px;
      border: none;
      position: relative;
      transition: .5s all;
      border-radius: 5px;
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000321}}
      .cont_h1_and_form form.inscribe .card_form::before, .cont_h1_and_form form.inscribe .card_form::after {
        content: " ";
        position: absolute;
        bottom: 11px;
        height: 11px;
        width: 90%;
        z-index: -10 !important;
        box-shadow: 0 11px 10px rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000333}}
      .cont_h1_and_form form.inscribe .card_form::after {
        right: 0px;
        transform: rotate(3deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000338}}
      .cont_h1_and_form form.inscribe .card_form::before {
        left: 0px;
        transform: rotate(-3deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000343}}
      .cont_h1_and_form form.inscribe .card_form legend {
        margin-bottom: 23px;
        text-align: center;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000349}}
      .cont_h1_and_form form.inscribe .card_form .cont_input_label,
      .cont_h1_and_form form.inscribe .card_form span {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000356}}
        .cont_h1_and_form form.inscribe .card_form .cont_input_label:hover,
        .cont_h1_and_form form.inscribe .card_form span:hover {
          cursor: text; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000362}}
        .cont_h1_and_form form.inscribe .card_form .cont_input_label label,
        .cont_h1_and_form form.inscribe .card_form span label {
          position: absolute;
          padding: 0;
          display: block;
          padding-top: 5px;
          bottom: 7px;
          left: 0;
          transition: all .3s ease;
          background: transparent;
          z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000373}}
          .cont_h1_and_form form.inscribe .card_form .cont_input_label label:hover,
          .cont_h1_and_form form.inscribe .card_form span label:hover {
            cursor: text; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000377}}
          .cont_h1_and_form form.inscribe .card_form .cont_input_label label.focus_valid,
          .cont_h1_and_form form.inscribe .card_form span label.focus_valid {
            transform: translateY(-24px);
            color: #21e6c1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\0000388}}
      .cont_h1_and_form form.inscribe .card_form input:not(input[type=submit], input[type=radio], input[type=file]), .cont_h1_and_form form.inscribe .card_form select {
        border: 0;
        display: block;
        border-bottom: 2px solid #278ea5;
        background: #0b2649;
        border-radius: 3px;
        transition: .3s all ease;
        padding: 10px;
        padding-bottom: 5px;
        font-size: 18px;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003100}}
        .cont_h1_and_form form.inscribe .card_form input:not(input[type=submit], input[type=radio], input[type=file]):focus, .cont_h1_and_form form.inscribe .card_form select:focus {
          border-bottom: 2px solid #21e6c1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/_components\.scss}line{font-family:\00003105}}
      .cont_h1_and_form form.inscribe .card_form textarea {
        border: 0;
        display: block;
        border-bottom: 2px solid #278ea5;
        background: #0b2649;
        border-radius: 3px;
        transition: .3s all ease;
        padding: 10px;
        padding-bottom: 5px;
        font-size: 18px;
        width: 100%;
        outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000364}}
    .cont_h1_and_form form.inscribe .card_form {
      overflow: hidden;
      padding-top: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000368}}
      .cont_h1_and_form form.inscribe .card_form fieldset {
        transition: .4s all ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000372}}
        .cont_h1_and_form form.inscribe .card_form fieldset label {
          transform: translateX(10px); }
    @media (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000379}}
      .cont_h1_and_form form.inscribe .d-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000388}}
    .cont_h1_and_form form.inscribe input[type=file] {
      margin-bottom: 25px;
      color: #278ea5;
      display: block;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\0000395}}
    .cont_h1_and_form form.inscribe ::-webkit-file-upload-button {
      transition: all .4s ease;
      margin-top: 10px;
      margin-bottom: 5px;
      height: 30px;
      width: 100%;
      display: block;
      background-color: #1f4287;
      border: none;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003107}}
      .cont_h1_and_form form.inscribe ::-webkit-file-upload-button:hover {
        cursor: pointer;
        background: #21e6c1;
        color: #081f3d; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003114}}
    .cont_h1_and_form form.inscribe #ins_date_birth {
      color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003117}}
      .cont_h1_and_form form.inscribe #ins_date_birth.focus_valid {
        color: white !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003122}}
    .cont_h1_and_form form.inscribe .parent_btn_submit {
      margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003125}}
      .cont_h1_and_form form.inscribe .parent_btn_submit .btn_submit {
        margin: 0 !important;
        padding-inline: 45px !important;
        font-size: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003134}}
    .cont_h1_and_form form.inscribe .arrow_buttons {
      align-items: center;
      transition: all .3 ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003138}}
      .cont_h1_and_form form.inscribe .arrow_buttons .next {
        font-size: 18px !important;
        background: #21e6c1 !important;
        padding: 9px 10px;
        color: #081f3d;
        text-align: center;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003151}}
      .cont_h1_and_form form.inscribe .arrow_buttons .prev {
        font-size: 50px;
        color: #278ea5; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003159}}
      .cont_h1_and_form form.inscribe .arrow_buttons button.disable {
        opacity: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003163}}
      .cont_h1_and_form form.inscribe .arrow_buttons button:hover {
        color: #1f4287; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/views_villadonq\/css\/pages\/css_inscribe\.scss}line{font-family:\00003172}}
.slider_wrap {
  overflow-x: hidden !important; }
