@import "../../css/base";
@import "../../css/_components";

@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../../css/fonts/EncodeSansSemiExpanded-bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../../css/fonts/EncodeSansSemiExpanded-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../../css/fonts/EncodeSansSemiExpanded-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../../css/fonts/EncodeSansSemiExpanded-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../../css/fonts/EncodeSansSemiExpanded-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "Comfortaa";
  src: url("../../css/fonts/Comfortaa-bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Comfortaa";
  src: url("../../css/fonts/Comfortaa-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "Comfortaa";
  src: url("../../css/fonts/Comfortaa-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: "Comfortaa";
  src: url("../../css/fonts/Comfortaa-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Comfortaa";
  src: url("../../css/fonts/Comfortaa-Light.ttf"); }

* {
  color: inherit;
}
body {
  overflow-x: hidden;
}
section.content, content-wrapper{
  padding-bottom: 40px !important ; 
}
.main-sidebar {
  background-color: $color1 !important; 
}
p {
  margin-bottom: 0 !important;
}
a.active {
  background: $color3 !important;
}
.main-sidebar {
  background-color: $color1 !important;
  box-shadow: none !important;
}

.card-header { 
  border-bottom: none !important;
 position: sticky;
 top: 0;
 background: rgb(255, 255, 255) !important;
 z-index: 100 !important;
}  

.dt-buttons {
  max-width: 320px;
  display: flex;
  button {
    font-size: 14px !important;
    background: $color1;
    color: $color4 !important; 
    max-width: 60px;
  }
  .buttons-colvis {
    max-width: 130px;

  }
}

.bg-1 { 
  background-color: $color1 !important; 
  color: white;
} 
.bg-2 {
  background-color: $color2 !important; 
  color: white !important;
} 
.bg-3 {
  background-color: $color3 !important; 
}
.bg-4 {
  background-color: $color4 !important; 
}

.color-1 {
  color: $color1;
}
.color-2 {
  color: $color2;
}
.color-3 {
  color: $color3;
}
.color-red {
  color: rgb(139, 0, 0);
}



//components 
.add_btn {
  background: transparent;
  border: 2px solid $color3;
  border-radius: 500px;
  color: $color3;
  padding: 2px 10px;
  transition: all .3s ease;
  &:hover {
    cursor: pointer;
    background-color: $color1;
    color: $color4;
  }
  // &:before {
  //   content: '+ AGREGAR';
  // }
}

// table for writing
.row_table_plan { 
    
    position: relative;

    
    tr {
        transition: all .2s;
    }
    tr.removing {
        height: 0px;
        opacity: 0;
        transform: translateY(-20px); 
    }
    .td_valor, td.borrar {
        width: 65px !important;
        min-width: 65px !important;
    }
    td.borrar i {
        &:hover {
            cursor: pointer;
            color: $color4;
        }
    }
    .td_unidad, .th_unidad {
        width: 95px;
        padding-left: 14px !important;
    }
    .each_cell {
        padding: 0;
        min-width: 200px;
        @media (min-width: 500px) {
            min-width: 0px;
        }
    } 
    textarea {
        height: 50px; 
        padding: 10px;
        resize: none;
        z-index: 20 !important;
        outline: none; 
        border: none  !important;
        width: 100%;
        p {
            margin-bottom: 0;
        }
    }
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // @include card-form(auto, );     
    textarea::-webkit-scrollbar {
        width: 0px;
    }
    tr.inactive {
        opacity: .3;
        background: #f4f6f9;
        * {
            background-color: #f4f6f9; 
        }
    }
    padding-bottom: 100px;
    
    .btn_more {
        text-align: center;
        color: $color3;
        transition: all .2s;
        position: absolute;
        bottom: -50px;
        left: 0;
        background: white;
        width: 100%;
        &:hover {
            cursor: pointer;
            background: $color1;
            color: $color4;
        }

    }
}  